[2016-07-12 03:02] kunallillaney commented on #303
The project you are requesting data from has the base resolution as res3. In order to provide a cutout at res1, we translate that to res3 dimensions, up-sample and then trim it. There seems to be a bug when we calculate the dimensions at res3 because we don't seem to take into account the trimming effect, which is higher at a higher resolution(res1) resulting in truncated data. This will not get r

[2016-07-12 03:03] kunallillaney commented on #303
This can be mitigated for now by cube aligning your cutouts.

[2016-07-12 03:19] kunallillaney commented on #304
@adwanner There is no current way to retrieve near-isotropic data in JPEG format. We do store both isotropic and near-isotropic data for some of our datasets. You can also ingest data in isotropic format by specifying so when you ingest the data. Two public datasets which support near-isotropic data are kasthuri11 and bock11. You can checkout kasthuri11 dimensions [here](http://openconnecto.me/ocp

[2016-07-12 13:00] adwanner commented on #304
In fact, it seems there is already a way to retrieve near-isotropic data in JPEG format:
 http://openconnecto.me/ocp/ca/kasthuri11/image/jpeg/5/372,500/500,628/128,256/neariso/
The endpoint /neariso/ works just fine for jpeg.

[2016-07-12 13:00] #304 closed

[2016-07-12 13:19] kunallillaney commented on #304
@adwanner Great. Then I might have added it but don't remember it now. Let me know if it works as expected. I wrote this service over a hackathon in which some KNOSSOS folks were present but we never had any indicator that it was being used.

[2016-07-12 13:23] adwanner opened #305 "extraction of partial overlapping subvolumes"
Let's assume I would like to cut out subvolumes of 128x128x128 voxels from a dataset with size 168x208x142 voxels (e.g. kasthur11, at magnification 7).
I can extract subvolumes, that are fully overlapping with the dataset, for example:
GET http://openconnecto.me/ocp/ca/kasthuri11/image/jpeg/7/000,128/000,128/001,129/neariso/

However, I cannot extract any subvolumes that are only partially overlap

[2016-07-12 13:34] adwanner commented on #305
Context: I am currently working on an interface to ocp from [PyKnossos](https://github.com/adwanner/PyKNOSSOS) (the little python brother of Knossos) which is especially well suited for neurite tracing in (near-)isotropic datasets.

[2016-07-12 14:09] kunallillaney commented on #305
The dimensions of the image at res7 are 168,208,1850(You can look at the dims by using the info query).  When you make a request for [128,256] in the x-dimension you are going out of bounds and that query will not work.  The queries you should be using are:
http://openconnecto.me/ocp/ca/kasthuri11/image/jpeg/7/128,168/000,128/001,129/neariso/
http://openconnecto.me/ocp/ca/kasthuri11/image/jpeg/7/1

[2016-07-12 14:18] kunallillaney commented on #305
@adwanner Great to hear about PyKNOSSOS. We did have someone from [scalable minds](https://github.com/scalableminds) who contributed a service called RAW which downloads a 3D/4D region of data for of a specified channel, resolution and bounds in a web readable raw binary representation numpy array format.
Currently this service lives on the dev branch but will be rolled out soon. Are you aware of

[2016-07-12 15:32] adwanner commented on #305
@kunallillaney Thanks for the detailed answer. The JPEG cutout service does currently not work if  xdim != ydim (see [issue 275](https://github.com/neurodata/ndstore/issues/275)). It would be great if you could fix that such that I could use queries like
http://openconnecto.me/ocp/ca/kasthuri11/image/jpeg/7/128,168/000,128/001,129/neariso/

Regarding annotation data: PyKnossos is mainly file syste

[2016-07-12 16:55] gkiar opened #306 "Datasets/Projects and timesteps"
Do all timeseries projects and channels associated with a given dataset need to have the exact same number of timesteps as the dataset was declared with? I.e. if I have a set of images with the same physical dimensions but their time-lengths vary, could I create a "standard dataset" with a very large number of timesteps and then upload data with fewer timepoints to a project associated with it?

T

[2016-07-12 18:18] kunallillaney commented on #306
No. They can be variable.

[2016-07-12 18:18] #306 closed

[2016-07-12 20:58] #275 closed

[2016-07-12 21:01] kunallillaney commented on #305
@adwanner When you say incorporate, do you mean to enable PyKnossos to read data from these stores or also write data back to them? What format do you use to store annotations on the file-system?

[2016-07-12 21:12] adwanner commented on #305
The first step would be to enable PyKnossos to read data, the second would be to also write data back. Currently, the annotation objects are saved in the nml format of Knossos which is based on XML. Because PyKnossos is currently only used for skeleton tracing and synapse annotation, all PyKnossos annotation objects consist of nodes with attributes and edges that connect pairs of nodes.

[2016-07-13 18:33] alexbaden opened #308 "zmin and zmax scaling in getBoundingBox"
When the user requests a bounding box for an annotation at a resolution different from the default, the bounding box is obtained for the default channel resolution then scaled. However, I think the z-indices shouldn't be scaled because downsampling only happens in x and y.

(see: https://github.com/neurodata/spdb/blob/master/spatialdb.py#L881)

Removing the scaling from 881 and 884 fixed the bound

[2016-07-13 19:23] kunallillaney commented on #308
@alexbaden There is scaling in z for isotropic and near-isotropic data. The way we calculate scaling there is incorrect as it is generalized for x and y which is always 2. I think we need to have a separate scaling for z which is a factor of z-slices in the respective resolutions. @randalburns Does this sound right?

[2016-07-14 14:24] alexbaden opened #310 "condition typo in bounding box for loop"
https://github.com/neurodata/spdb/blob/master/spatialdb.py#L856

should be `ycube == ymaxcube` not `ycube or ymaxcube`, I think.

[2016-07-14 14:30] alexbaden commented on #310
@kunallillaney think this is legit? I'm having a lot of problems with the bounding box code. Fixing this didn't fix my problem, but maybe it is a contributing factor...

[2016-07-14 14:47] alexbaden commented on #308
Following in the same vein, the `cubedim` setting in line 877 should be the cube dimension of the `effectiveres`, not the `resolution`: https://github.com/neurodata/spdb/blob/master/spatialdb.py#L877

[2016-07-14 16:09] kunallillaney commented on #308
@alexbaden I will talk to @randalburns tomorrow about this. Can you please post a sample query here for reference?

[2016-07-14 16:10] alexbaden commented on #308
Sure. I think I got it working. I'll commit the script I'm using to the
examples dir later this afternoon.
On Thu, Jul 14, 2016 at 12:09 Kunal Lillaney <notifications@github.com>
wrote:

[2016-07-14 21:32] kunallillaney commented on #299
@AlexeiKoulakov Closing this issue since it seems to be resolveed. Feel free to open another issue if you have any more questions.

[2016-07-14 21:32] #299 closed

[2016-07-14 21:34] kunallillaney commented on #310
Yes it is. That should be `==`

[2016-07-16 17:30] alexbaden opened #312 "histogram ROI service creates duplicate histograms"

[2016-07-18 14:52] kunallillaney commented on #305
@adwanner Sounds awesome! Someone will help you ingest the skeleton data in ndstore and we can take it from there.

[2016-07-18 14:52] #305 closed

[2016-07-18 22:14] wrgr commented on #303
If we could revisit this week, would be very helpful.

Definitely not possible to cube align for everything...we could precompute blocks on the client side and trim, but seems like not the right answer.

This is common for things like accessing bobby's data (e.g., ndpaper claims) that exist at particular locations, or cases where windows are fixed.

[2016-07-19 14:20] Aeusman opened #314 "Tests Failing"
Yay! We now have a travis/docker build that is working! Unfortunately tests are failing (both on travis and elsewhere) so I'd prefer to fix those before pulling in:
https://travis-ci.org/neurodata/ndstore/builds/145828489

platform linux2 -- Python 2.7.6, pytest-2.9.2, py-1.4.31, pluggy-0.3.1
rootdir: /home/neurodata/ndstore/test, inifile:
collected 107 items / 1 errors
test_annoid.py .
test_blaze

[2016-07-19 19:20] Aeusman opened #315 "Docs Changes"
These are docs changes that need to occur for microns, documenting here.
- [x] Link to install information for ndio in Sphinx docs(line89). Look at ingesting.rst to see how I reference hyperlinks in RST's.
- [x] Tell them about channel names and how we name them - This is already documented in the data model.
- [x] Create a autoingest_complicated or advanced(don't care about the name). I want ever

[2016-07-19 19:24] Aeusman commented on #315
@kunallillaney Tag anything else as needed please

[2016-07-20 18:51] #314 closed

[2016-07-20 19:28] kunallillaney commented on #271
Fixed. We now used Docker in travis to run our image.

[2016-07-20 19:28] #271 closed

[2016-07-21 20:17] #62 closed

[2016-07-22 13:17] Aeusman opened #319 "Delete Channel in GUI Fails"
While delete channel 'image' from project 'allen_gold_16_zebrafish_larve_RGC_UW_hard_1_1_Live_2_2_2010_9_52_24_AM_med_Red_tif_uint8'

Environment:

Request Method: POST
Request URL: http://openconnecto.me/ocp/ocp/ocpuser/channels/

Django Version: 1.8.4
Python Version: 2.7.3
Installed Applications:
('django.contrib.admin',
 'django.contrib.auth',
 'django.contrib.contenttypes',
 'django.contrib.se

[2016-07-22 13:58] Aeusman commented on #319
@kunallillaney

[2016-07-22 14:37] kunallillaney commented on #319
Project and Channel names are governed by the rules of the underlying storage engine, in this case MySQL. You cannot create a project name more than 64 characters long. I would stick to 20-25 chars max. More information [here](http://www.informit.com/articles/article.aspx?p=30875)

[2016-07-22 14:37] #319 closed

[2016-07-22 14:38] kunallillaney commented on #315
- [ ] #319

[2016-07-25 15:32] Aeusman commented on #291
This is sitting on bg1, but cannot be ingested yet due to the same issue with codeneuro.

[2016-07-25 16:35] Aeusman commented on #259
http://openconnecto.me/ocp/ca/allen_gold_16_012/image/xy/0/0,1000/0,1000/46/window/0,100/

Ingested

[2016-07-25 16:35] #259 closed

[2016-07-25 16:37] Aeusman commented on #223
@owenrandlett I'm going to close this in a week if no response, happy to discuss further though!

[2016-07-25 16:44] owenrandlett commented on #223
@Aeusman <https://github.com/Aeusman> Sorry for the lack of response --
I believe I propagated the data, but I don't know if it worked. I have not
been able to visualize it.

On Mon, Jul 25, 2016 at 12:37 PM, Alex Eusman <notifications@github.com>
wrote:

[2016-07-25 16:48] Aeusman commented on #223
(Pulled from @kunallillaney response above)
http://openconnecto.me/ocp/ca/ZBrain/Anti_Gad67_MeanOf17/xy/0/0,800/0,600/1/window/0,5000/
http://openconnecto.me/ocp/ca/ZBrain/Anti_tERK_MeanOf193/xy/0/0,800/0,600/1/window/0,3000/
http://openconnecto.me/ocp/ca/ZBrain/Elavl3_GCaMP5G_MeanOf7/xy/0/0,800/0,600/1/window/0,3000/

There is documentation about how to use the web browser (RESTful) interface [he

[2016-07-25 19:17] jovo commented on #259
cool!!!
can you send a ndviz link?
@alexbaden

On Mon, Jul 25, 2016 at 12:35 PM, Alex Eusman <notifications@github.com>
wrote:

--
the glass is all full:  half water, half air.
neurodata.io, jovo calendar
<https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York>

[2016-07-25 19:22] alexbaden commented on #259
Traveling today. viz.neurodata / token / channel /

Will need to be windowed in the console first or you'll cache black tiles.

Alex

On Mon, Jul 25, 2016 at 13:21 joshua vogelstein <notifications@github.com>
wrote:

[2016-07-25 19:23] jovo commented on #291
@kunallillaney @randalburns @Aeusman  ok, we gotta support 2D time-series data.
let's discuss priorities on wednesday.

[2016-07-25 19:25] jovo commented on #259
i tried using the token listed with channel "image".
it looks all black.

i tried changing the max intensity using the scroll bars.
but i didn't know the values it had, and it still looked black.

[2016-07-25 19:30] Aeusman commented on #259
The first ~15 slices appear to be mostly black/contain no data

[2016-07-25 19:32] alexbaden commented on #259
Yup, it will be black until a window is set in ndstore and memcached is
flushed.
On Mon, Jul 25, 2016 at 13:26 joshua vogelstein <notifications@github.com>
wrote:

[2016-07-25 19:32] jovo commented on #259
shouldn't the "max" slider do that dynamically?

[2016-07-25 19:38] alexbaden commented on #259
Nope. The problem is the 16 bit data is rendered to 8 bits on the server.
The window tells the server how to handle that resampling. The client can
do some minimal tweaking of the 8bit data, but if your range is 0-1000 and
you sample 0,2^16 into 0,2^8, all your data is lost as noise and the 8bit
image ends up black.

We could look into rendering 16 bit data on the client to get around this
problem

[2016-07-25 19:39] jovo commented on #259
ok.
let's put an issue in ndviz to create a project for this with appropriate windowing?

[2016-07-25 19:40] Aeusman commented on #259
I think my comment was misinterpreted, even when manually windowing the data by pulling pngs the first ~15 slices are blank. but at slice 46 we can see data so I would recommend testing based on that.

[2016-07-27 17:02] alexbaden opened #320 "consider adding SESSION_COOKIE_DOMAIN to settings"
Since we have many different django installations running across a bunch of domains, it may make sense to force session cookies to subdomains. E.g.

neurodata.io
synaptomes.neurodata.io
cloud.neurodata.io
... etc ...

I had a problem with cookies being rejected on the synaptomes site until I added:

`SESSION_COOKIE_DOMAIN = 'synaptomes.neurodata.io'`

to `settings.py`

I'm not sure what will happe

[2016-07-28 20:13] kunallillaney opened #321 "Ingest skeletons feature"

[2016-07-28 20:14] alexbaden commented on #321
I have some skeletons you can use as test data

[2016-07-29 00:40] alexbaden opened #322 "ramon table does not get deleted on channel delete"

[2016-07-29 00:42] alexbaden opened #323 "ndio doesn't fail if a channel is created and the underlying tables exist"
E.g., I create the channel `test` using the console. I then delete `test`, but the delete fails and a table still remains. I then re-create `test` using ndio. The creation should fail, because the channel creation fails (e.g. `Failed to create channel. "Failed to create tables for new project 1050: Table 'test_ramon' already exists."`) but it doesn't.

Documenting here because the ndio error check

[2016-07-29 07:12] jovo opened #324 "ingest this new human histology dataset"
http://onlinelibrary.wiley.com/doi/10.1002/cne.24080/abstract

it does not seem to be online yet, so let's put it in queue,
and see what happens when we get to it.

@kunallillaney @Aeusman @perlman @randalburns

[2016-07-29 14:38] Aeusman commented on #324
@jovo We can talk about this more offline, but I think ingesting data is slowly going out of scope for me, I might  not be the right person to assign.

[2016-07-29 16:02] jovo commented on #324
Yah, as soon as we train up somebody else, it will be out of scope.
Until then, you are our man.

On Friday, July 29, 2016, Alex Eusman <notifications@github.com> wrote:

--
the glass is all full:  half water, half air.
neurodata.io, jovo calendar
<https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York>

[2016-07-29 18:38] jovo commented on #324
To be clear, I don't expect that you will do this. But I do expect that
when we get somebody to ingest ye data, you will show her how and what,
etc.

On Friday, July 29, 2016, joshua vogelstein <jovo@jhu.edu> wrote:

--
the glass is all full:  half water, half air.
neurodata.io, jovo calendar
<https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York>

[2016-07-31 15:08] jovo opened #325 "make raju data "public""
@alexbaden raju says we can make all the CLARITY brains public, are they?

@kkutten1 can you make a ndviz dataview that has each of the brains and overlaid registrations?

[2016-08-01 17:33] alexbaden opened #326 "correct voxel res"
- [x] kharris\* --> 2 x 2 x 50
- [x] bock11 --> 4 x 4 x 40
- [x] kasthuri11 --> 4 x 4 x 40
- [x] clarity @kkutten1 to provide list
- [ ] AT data @alexbaden to find out
- [ ] others??

[2016-08-01 18:10] alexbaden opened #327 "fix xz and yz planes in catmaid"

[2016-08-01 19:19] kkutten1 commented on #326
@alexbaden: See https://github.com/neurodata/internal/blob/master/misc/CLARITY_tokens.md

[2016-08-01 21:48] kunallillaney commented on #323
Which branch is this and what kvengine?

[2016-08-01 21:49] kunallillaney commented on #322
Which table and which branch?

[2016-08-01 21:49] alexbaden commented on #323
microns / mysql

[2016-08-01 21:50] alexbaden commented on #322
microns. the only ramon table (e.g. `mychan_ramon`)

[2016-08-01 22:10] kunallillaney commented on #322
I think #323 is related to this. All other deletes work  correctly. Can you please recheck.

[2016-08-01 22:13] alexbaden commented on #323
The point of this issue is if channel creation fails in the ndstore web console, it should also fail in the create channel JSON endpoint, which it currently doesn't seem to.

[2016-08-01 22:19] #322 closed

[2016-08-01 22:20] kunallillaney commented on #323
can you give me sample call which ndio is making which seems to succeed.

[2016-08-01 22:27] kunallillaney opened #328 "Remove ocpviz static and templates from microns"

[2016-08-01 23:26] kunallillaney commented on #323
For the record, the issue was in NDIO but the backend now should work.

[2016-08-01 23:26] #323 closed

[2016-08-01 23:31] kunallillaney commented on #327
They are already supported but there might be issues.

[2016-08-02 00:48] kunallillaney opened #329 "Fix travis CI issue with django"
It seems the Travis CI build is broken because it cannot install the django apps.

[2016-08-04 16:10] kunallillaney commented on #329
Django changes supported. Waiting for django-celery to update.

[2016-08-08 13:11] kkutten1 opened #332 "Significant lag reading/writing data to ndstore"
- Steps to reproduce:

[code]
- Result:
The command hangs for 5 to 10+ seconds at "HTTP request sent, awaiting response..."

- Expected behavior:
Server should respond immediately

[2016-08-08 13:27] kkutten1 commented on #332
This problem also means that uploading images is slow.  A 1GB volume, has it ~1 billion voxels and might be broken up into 1,000 cubes by ndio.   If there's a 10 second lag in uploading every cube, the upload might take 10,000 seconds (nearly 3 hours)

[2016-08-08 14:00] jovo commented on #332
@kunallillaney i like nd**toe**
we should have such a thing :)

[2016-08-08 15:42] kunallillaney commented on #332
@jovo and what would this "toe" do?

[2016-08-08 16:05] jovo commented on #332
the possibilities are limitless!

On Mon, Aug 8, 2016 at 11:42 AM, Kunal Lillaney <notifications@github.com>
wrote:

--
the glass is all full:  half water, half air.
neurodata.io, jovo calendar
<https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York>

[2016-08-09 14:58] kunallillaney commented on #332
@kkutten1 The issue was with Hopkins networking and this has now been resolved. If your reads and writes are still slow, please check if they are cube aligned. Also use the latest version of ndio which has some performance improvements, if you are on an older version.

[2016-08-09 14:58] #332 closed

[2016-08-10 14:13] kkutten1 opened #333 "Can not read data from dsp063.pha.jhu.edu"
- Steps to reproduce: Enter the following into a web browser
[code]

- Result:

[code]
- Expected result: XY slice is displayed in web browser

[2016-08-10 14:51] kkutten1 commented on #325
@jovo See links in table here https://github.com/neurodata/internal/blob/master/misc/CLARITY_tokens.md

[2016-08-10 14:53] kkutten1 commented on #325
Note that some CLARITY images are not loading due to ndstore issue https://github.com/neurodata/ndstore/issues/333

[2016-08-10 15:17] jovo commented on #325
that's great!

are they all windowed?

so now, you can make 1 dataview that has a project for each brain, including the overlays that exist for it?

[2016-08-10 15:41] kunallillaney commented on #333
@kkutten1 The tokens you shared all work for me. Let me know if it persists.

[2016-08-10 16:10] kkutten1 commented on #333
Problem seems to have resolved itself.  So closing the issue

[2016-08-10 16:14] alexbaden commented on #325
Yup. We set a default window of (0,500) on most of them. The brains are too big for the histogram service to run on dsp. But, we can tweak the window later once we have things cloudified.

I will create the dataview and report back.

[2016-08-10 19:12] randalburns opened #334 "document json ramon interface"
http://localhost:8000/ramon/test/anno/query/ann_type/2/
http://localhost:8000/ramon/test/anno/2/boundingbox/0/
http://localhost:8000/ramon/test/anno/topkeys/10/type/2/

[2016-08-10 19:14] randalburns opened #335 "make all ramon work for zoom out (unpropagated channels)"
There is an RBTODO in the microns branch.

[2016-08-11 16:42] randalburns opened #336 "document filtered catmaid"
http://localhost:8000/catmaid/test/anno/xy/filter/28,30/12/0_0_1.png

[2016-08-11 23:41] alexbaden opened #337 "top k ramon keys should be top user defined keys"

[2016-08-11 23:42] alexbaden opened #338 "json query for ramon objects by key should accept multiple predicates"

[2016-08-12 16:21] randalburns commented on #308
Is done and committed into the allen branch of spdb.  Didn't want to commit to spdb.  Kunal want to merge?  I'm assigning to you.

[2016-08-12 16:26] kunallillaney commented on #308
I do not see any new commits to the spdb repo. There were some changes in the allen branch in April which have merged quite some time back. Was that it?

[2016-08-12 16:53] alexbaden opened #339 "can't run unit tests"
[code]

Anyone seen this before?

@kunallillaney @Aeusman @randalburns

[2016-08-12 17:05] #328 closed

[2016-08-14 21:03] alexbaden commented on #326
- [ ] collman14:
- [ ] collman15:
- [ ] weiler14:
- [ ] kristina15:

[2016-08-15 12:16] kkutten1 commented on #333
Experiencing this problem again

[2016-08-15 12:44] kunallillaney commented on #339
I am not aware of this bug. We were able to run the tests minus the celery ones because there is an issue with django-celery and django-1.10. Try removing the ramon app and check again. Seems like a bug introduced by recent commits.

[2016-08-16 00:54] alexbaden commented on #325
Here's the first example: http://viz.neurodata.io/project/Cocaine174

@kkutten1 what is the difference between the "annotation" channel and "labels" channel in the 	Cocaine174ARA token?

@kkutten1 / @jovo what should we do with Cocaine174Coronal? It isn't in the same dataspace, so it won't display with Cocaine174. Two separate vizprojects?

[2016-08-16 02:55] alexbaden commented on #339
I fixed it, I think. It turns out the file `ramon.py` in the test directory conflicts with the new `ramon` app. I renamed `ramon.py` to `ramonmethods.py` in the test directory **AND** deleted the `ramon.pyc` file and it worked. Similar experience to anyone running the latest microns?

[2016-08-16 03:01] alexbaden commented on #339
Note that if you can't reproduce this bug before pulling the commit referenced above, trying adding `ramon` to your list of INSTALLED_APPLICATIONS in `settings.py`.

[2016-08-16 03:05] #339 closed

[2016-08-16 11:53] jovo commented on #325
@alexbaden - thanks, something is weird in that link, in particular, there
is an annotation layer in the top left corner of the first image, that does
not seem "correct", not sure whether the data is wrong, or something else?

and yes, i guess 2 separate vizprojects within the same dataview would be
great!

On Mon, Aug 15, 2016 at 8:54 PM, Alex Baden <notifications@github.com>
wrote:

--
the glass

[2016-08-16 18:17] kkutten1 commented on #325
@alexbaden @jovo:  You should use the "labels" channel which is the newest version. The "annotation" is the old version and was affected by [ndio issue #229](https://github.com/neurodata/ndio/issues/229).  I'll delete the old "annotation" channels.

I haven't uploaded the labels for the "Coronal" datasets since we only do the analysis on the original images.  So you don't have to worry about them

[2016-08-16 18:36] jovo commented on #325
ok, thanks guys!

@kkutten1 will you make an issue for yourself to upload the coronal views?
we can discuss on monday, i know that allie wants them.

On Tue, Aug 16, 2016 at 2:17 PM, kkutten1 <notifications@github.com> wrote:

--
the glass is all full:  half water, half air.
neurodata.io, jovo calendar
<https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York>

[2016-08-16 18:48] alexbaden commented on #325
If only we had a LIMS system! :-D

Protip: if you put the date in the description field, it helps others track
what channels to use. I do that to keep from getting confused when I
revisit projects 6 months later. If you need help doing that, lemme know!
On Tue, Aug 16, 2016 at 14:36 joshua vogelstein <notifications@github.com>
wrote:

[2016-08-16 20:00] kkutten1 opened #340 "Upload annotations for coronal of raju data"
This should be done for easy visualization of the raju brains

https://github.com/neurodata/ndstore/issues/325

[2016-08-16 21:37] kunallillaney commented on #340
@kkutten1 When you open an issue for yourself remember to assign. It makes it simple for me to keep track of issues and who is responsible for them. :)

[2016-08-17 12:47] kkutten1 commented on #340
Sure but I can't assign issues here because I don't have the right permissions.  You may need to give me write access.  I promise I won't break anything :-)

[2016-08-17 13:25] kunallillaney commented on #340
No worries. I will curate the issues in that case. Thanks :)

[2016-08-17 20:01] alexbaden opened #341 "unable to view control239"
http://dsp063.pha.jhu.edu/ocp/ca/Control239/Grayscale/xy/5/0,500/0,500/5/

It is theoretically properly windowed (at least, it is similar to all the rest of the CLARITY brains). I tried multiple window values, no dice.

I also tried a bunch of different z-indices, and all came up black. There is data in the DB though:
[code]

Any ideas?

( @kkutten1 @jovo )

[2016-08-17 20:15] alexbaden opened #342 "coronal image data adjustments"
@kkutten1 We need to discuss the coronal data I am assuming you uploaded. It needs a resolution hierarchy and a window, among other things. Topic for lunch tomorrow?

I would not upload any coronal annotations until we get this fixed.

[2016-08-17 20:19] alexbaden commented on #325
See: http://viz.neurodata.io/dataview/tomer15

It needs to be beautified with images and data descriptions for each clarity project. But, all the projects should be encapsulated.

There's an issue with Control239 (#341) but otherwise everything should be visible. The windowing isn't great, but until we either fix the mysql has gone away issue or move to S3 it's the best we can do.

[2016-08-17 20:42] kkutten1 commented on #341
Resolution 0 is still available...

http://dsp063.pha.jhu.edu/ocp/ca/Control239/Grayscale/xy/0/10000,11000/10000,11000/5/

...but the lower resolutions 1-5 are missing.  I think @kunallillaney  just needs to repropagate the Grayscale channel.

[2016-08-17 21:11] kkutten1 commented on #342
OK I'll see you tomorrow.

[2016-08-17 21:20] alexbaden commented on #334
Done and pushed to microns.

Available here: http://brainviz1.cs.jhu.edu/doc/ndstore/api/ramon_api.html

[2016-08-17 21:20] #334 closed

[2016-08-17 21:52] jovo commented on #341
@kkutten1 I think you can propagate it ?

On Wednesday, August 17, 2016, kkutten1 <notifications@github.com> wrote:

--
the glass is all full:  half water, half air.
neurodata.io, jovo calendar
<https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York>

[2016-08-17 22:04] kunallillaney commented on #341
@jovo @kkutten1 the docs to propagate are pretty clear. Send an email to @Aeusman and me if you have any questions.

[2016-08-17 22:09] kkutten1 commented on #341
@kunallillaney @Aeusman  It won't let me propagate.  Probably because the channel is readonly.
[code]
Can you change readonly to 0.  I don't think I have permissions to do it myself.

[2016-08-17 22:21] wrgr commented on #341
This functionality is available in the console if you have permissions there!

[2016-08-17 22:26] kkutten1 commented on #341
I don't have permissions there either :(
I can only see projects that I created.

[2016-08-17 23:06] kunallillaney commented on #341
@kkutten1 Now it is not read-only.

[2016-08-19 19:02] jovo commented on #325
this is great.

some caveats:

- fear200: i get to acardona dataset
- control258: starts at 0, is all black, the ARA annotation just covers up
the image layer?
- control239: can't see image no matter what i do, maybe a windowing issue
- control189: starts at 0
- control182: starts at 0
- cocaine178: can't turn off channels, has that feature been deprecated

maybe others start at zero too.  perhaps

[2016-08-19 22:27] alexbaden commented on #325
Yeah, those are likely human errors. I'll go through and QC. My attempt was to start at slice 0, res 5, centered (which on most screens is everything). But maybe we should start in the center of the dataset where there's actually a lot of image data? Or maybe @kkutten1 has a better idea?

[2016-08-19 22:40] jovo commented on #325
well, i think the next easiest default is the center of x,y,z.
for certain datasets, that will start us off somewhere black.

another option would be the center of mass as defined by the histograms,
eg, the middle of the "brightest" cube.

but i realize that is more elaborate....

On Fri, Aug 19, 2016 at 6:27 PM, Alex Baden <notifications@github.com>
wrote:

--
the glass is all full:  half water,

[2016-08-20 13:22] kkutten1 commented on #341
I still can't propagate the Grayscale channel even though @kunallillaney has turned off readonly.

[2016-08-20 13:26] kkutten1 commented on #325
Maybe we should add a metadata field for "CenterOfData"  point.

[2016-08-20 14:22] kunallillaney commented on #341
@kkutten1 Can you please be more specific on this? What request are you making and if there is an error what is it?

[2016-08-20 14:35] alexbaden opened #344 "compute and store histogram at [auto] ingest?"
@kunallillaney @Aeusman @randalburns @jovo

[2016-08-20 15:52] alexbaden commented on #325
For DataViews, we set the default (for now). So, in this case, center x,y,z is pretty reasonable. NDV could calculate that automatically.

For ingested data being displayed on the fly, Randal and I discussed setting up an "anchor" system based on histograms. By looking at the standard deviations and picking the top 5 highest valued standard deviations, we thought we might be able to pick 5 spots w

[2016-08-20 15:54] alexbaden commented on #325
- [x] fear200: i get to acardona dataset
- [ ] control258: starts at 0, is all black, the ARA annotation just covers up
the image layer?
- [ ] control239: can't see image no matter what i do, maybe a windowing issue
- [ ] control189: starts at 0
- [ ] control182: starts at 0
- [ ] cocaine178: can't turn off channels, has that feature been deprecated

[2016-08-20 16:01] alexbaden commented on #325
Control239 issue is ongoing ( #341 )

Cocaine178 / turning off channel issue is a ndv bug ( https://github.com/neurodata/ndviz/issues/87 ). You can turn a channel off by setting it's opacity to 0, but the goal is to be able to remove a channel then re-add it layer from the controls toolbox.

I normalized everything to start at 0 except control258, which starts at 6 (the data has offset 6, for what

[2016-08-20 19:58] kkutten1 commented on #341
OK it appears to be working now as the following url returns 1
[code]
I initiated propagation using
[code]
Strangely this did not work when I used ndio.remote.neurodata.propagate() which may warrent further investigation.  I'll close the issue once propagation is done

[2016-08-21 00:02] kunallillaney commented on #341
"Strangely"? I guess ndio version of propagate does not work. You can open an issue there to confirm. :)

[2016-08-21 16:48] jovo commented on #344
i think yes, ndingest would auto-launch propagate and ndhist?

On Sat, Aug 20, 2016 at 10:35 AM, Alex Baden <notifications@github.com>
wrote:

--
the glass is all full:  half water, half air.
neurodata.io, jovo calendar
<https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York>

[2016-08-21 17:03] alexbaden commented on #344
That's one option. But I was thinking the histogram would be computed on cuboid creation before the cuboid is stored in the DB. This would solve the problem of computing a histogram for big datasets on MySQL, allow us to do arbitrary histograms of ROIs super fast, and best of all let us compute "anchors" on ingest that show us where data is likely to be. Plus, we would know the histogram matched t

[2016-08-21 17:35] jovo commented on #344
ah i see.
yes, my "auto-launch" was meant colloquially :)
i trust your judgement on the guts

On Sun, Aug 21, 2016 at 1:03 PM, Alex Baden <notifications@github.com>
wrote:

--
the glass is all full:  half water, half air.
neurodata.io, jovo calendar
<https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York>

[2016-08-21 21:37] alexbaden opened #345 "timeseries annotations"
Do we support timeseries annotations? Seems like we should be able to, not sure it's necessary from a neuroscientist use case (yet?).

@jovo @randalburns @kunallillaney

[2016-08-21 21:54] jovo commented on #345
that's a great quesiton!

the primary usecase is: annotation of cell bodies.
often, these annotations do not change in time.
sometimes, time-series have an associated "structural image" of just 1
time-step.

sometimes, however, there is "motion artefact" in the time-series, and then
the annotations do change with time.

On Sun, Aug 21, 2016 at 5:37 PM, Alex Baden <notifications@github.com>
wrote:

[2016-08-22 18:04] randalburns opened #346 "NIFTI services for all datatypes"
uint8, uint16, uint32, float, double -- dependent upon Greg providing suitable examples.

[2016-08-22 18:06] randalburns opened #347 "complete skeleton support in RAMON"

[2016-08-22 18:08] kunallillaney commented on #327
@randalburns Did this.

[2016-08-22 18:08] #327 closed

[2016-08-22 18:09] kunallillaney commented on #196
This is now resolved.

[2016-08-22 18:09] #196 closed

[2016-08-22 18:10] randalburns opened #348 "Port Ramon to AWS (Dynamo and/or Aurora)"

[2016-08-22 18:29] randalburns opened #349 "ndstore stack for AWS/Redis pushed."
And run Redis on the nodes, no elastic cache redis.
Artifact, branch delivered to Alex that will ingest data from an existing project into

[2016-08-22 18:32] randalburns opened #350 "3 clarity brains ingested into AWS"
Dependent upon -- https://github.com/neurodata/ndstore/issues/349
Artifact demo a cutout and ndviz.
Based on review, we will deploy to neurodata.io

[2016-08-22 18:49] kunallillaney opened #351 "Auto-ingest does not work with 1 slice timeseries data"

[2016-08-22 19:00] perlman opened #352 "Export of skeletons to VTK"

[2016-08-22 19:10] kunallillaney opened #353 "MRI - graph service"
Ingest and returns blobs - DTI pipeline

[2016-08-22 19:26] kunallillaney commented on #351
Support 512x512x1 data. uint8 + uint16

[2016-08-22 19:33] kunallillaney opened #354 "Web service interfaces for dataset, channel, project."
Subjective on when @Aeusman finishes authentication.

[2016-08-22 19:34] kunallillaney opened #355 "Project, channel, dataset searchable key-value metadata"

[2016-08-22 19:45] kunallillaney opened #356 "Deliver a EC2 instance with MySQL for MRI upload."

[2016-08-23 16:00] kunallillaney opened #357 "Issue with Histogram Migrations in django1.10"
I get this error when I try to generate or apply migrations:
Model class stats.models.Histogram doesn't declare an explicit app_label and isn't in an application in INSTALLED_APPS

[2016-08-23 16:03] kunallillaney commented on #357
@alexbaden Part of this might be an outdated setting with me. Let me check

[2016-08-23 16:03] alexbaden commented on #357
Is "stats" in your INSTALLED_APPS list in settings.py?

[2016-08-23 17:26] kunallillaney commented on #357
that solved part of the issue. The other issue was that some conflict in the migrations themselves. I had to merge migrations before applying them. I have now pushed this.

[2016-08-23 17:26] #357 closed

[2016-08-23 17:30] alexbaden commented on #357
Ok, thanks. I'll take a look. I took the stats migrations out of nduser and
moved them to stats, which probably caused the problem. But in the future,
nduser migrations won't conflict with stats.
On Tue, Aug 23, 2016 at 11:27 Kunal Lillaney <notifications@github.com>
wrote:

[2016-08-23 19:44] kunallillaney opened #358 "Fix graphgen tests"
@Aeusman the issue which you fixed in ramon on lists being saved in the database without commas has surfaced again. @randalburns changed some things again causing these tests to fail now.

[2016-08-23 19:47] kunallillaney commented on #356
@randalburns What instance type do you want? We cannot make an AMI out of this now since this branch is in flux. Maybe when we have this locked in we can make an AMI of that.

[2016-08-23 20:03] kunallillaney commented on #329
this now seems to be [fixed](https://github.com/celery/django-celery/issues/447) in django-celery but they have not pushed this out to pip yet.

[2016-08-24 14:14] alexbaden opened #359 "should we use the isotropic scaling for clarity brain coronal slice view?"
The coronal slice view of the clarity brains is isotropic at base resolution

@jovo @kkutten1

[2016-08-24 14:19] alexbaden opened #360 "multiple owners for a single project?"
sticking a reminder here for the auth meeting

@Aeusman

[2016-08-24 15:33] kunallillaney commented on #294
@kkutten1  Can we close this?

[2016-08-24 15:53] kunallillaney opened #361 "Ingest Ailey data"
There are 2 datasets which need to be ingested.
- [x] Set 1
- [ ] Set 2
  - [ ] 152
  - [ ] 154
  - [ ] 155

[2016-08-24 21:30] kkutten1 commented on #294
No.  Still need to do this but was busy with other things.

[2016-08-25 00:08] jovo commented on #359
i don't understand the question.
let's discuss in person?

On Wed, Aug 24, 2016 at 10:14 AM, Alex Baden <notifications@github.com>
wrote:

--
the glass is all full:  half water, half air.
neurodata.io, jovo calendar
<https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York>

[2016-08-25 00:30] alexbaden commented on #359
I meant to ask Randal today. The question was about the stability of the isotropic scaling option service.

[2016-08-25 02:10] kunallillaney opened #362 "Simple Catmaid XZ Tile service fails"
@randalburns This currently fails because there is change in convention in that file. How are we now denoting x,y,z values in the tile service.

[2016-08-25 15:05] kunallillaney commented on #358
Fixed.

[2016-08-25 15:05] #358 closed

[2016-08-26 19:45] kkutten1 commented on #342
I have uploaded the coronal images to the ARACoronal tokens listed [here](https://github.com/neurodata/internal/blob/master/misc/CLARITY_tokens.md).  You can close this issue.

[2016-08-26 20:34] randalburns commented on #346
This is complete. 8 datatypes accepted 3d/4dx8,16,32,float.  There is no automatic channel creation.  This is discussed in slack.  I've pushed to rbdevel.  Kunal to merge when he makes the AWS instance.

[2016-08-26 20:34] #346 closed

[2016-08-29 06:20] kunallillaney commented on #356
Check Slack for link.

[2016-08-29 06:20] #356 closed

[2016-08-29 17:41] alexbaden opened #363 "histograms on RAMON objects"
Given a RAMON object, use the underlying annotation voxel data to mask the image data, then compute a histogram.

[2016-08-29 19:37] kkutten1 commented on #341
So how long does propagate take?  It's been over a week and the url
[code]
still returns '1'

[2016-08-31 14:57] kunallillaney commented on #341
@kkutten1 This is done now. the propagate was not the issue. This is an old channel format and someone changes the channel-id underneath(I can explain but does not concern this discussion).

Here is a sample cutout http://openconnecto.me/ocp/ca/Control239/xy/1/5000,6500/4500,5500/100/window/0,500/

[2016-08-31 17:23] kkutten1 commented on #341
@kunallillaney The resolutions 0 and 1 look fine
- http://openconnecto.me/ocp/ca/Control239/xy/0/0,500/0,500/100/window/0,500/
- http://openconnecto.me/ocp/ca/Control239/xy/1/0,500/0,500/100/window/0,500/

But the data for resolutions 2-5 is still missing
- http://openconnecto.me/ocp/ca/Control239/xy/2/0,500/0,500/100/window/0,500/
- http://openconnecto.me/ocp/ca/Control239/xy/3/0,500/0,500/100/wi

[2016-08-31 17:43] kunallillaney commented on #341
Okay. I will check what is going on.

[2016-09-01 01:08] alexbaden commented on #349
@kunallillaney @randalburns any updates? I'm looking to get started on moving clarity to S3 this week, if possible.

[2016-09-01 04:20] kunallillaney commented on #349
Yes. I am currently setting up the AWS instance for this and writing a README. kasthuri11 res5-res1 has beeb uploaded to the s3 bucket as a proof of concept.

[2016-09-01 09:04] #349 closed

[2016-09-01 15:32] kunallillaney commented on #341
@alexbaden Can you migrate this to new schema from old channel? How hard is it?

[2016-09-01 17:36] alexbaden commented on #341
It should be pretty easy, especially since we only have to migrate the base
resolution. The catch is that I can't do the migration in place -- meaning,
we'll need to do something like make a Control239new DB. But, we can either
alias the old token, or rename the DB once the migration is done. I'll
start the process this afternoon, based on past experience it should take
about a day.

On Thu, Sep 1

[2016-09-02 15:00] alexbaden commented on #341
FYI, checked in on the job again this morning. The migration is still running on res0.

[2016-09-02 19:20] kkutten1 opened #364 "Fear200 is missing several slices"
For example

http://openconnecto.me/ocp/ca/Fear200/xz/0/5000,5500/10000/300,500/window/0,1000/

[2016-09-02 19:42] alexbaden commented on #364
Let's hold off on taking any action until I've had a chance to test the S3
stack. We'll add his to the infrastructure agenda Tuesday.
On Fri, Sep 2, 2016 at 13:21 kkutten1 <notifications@github.com> wrote:

[2016-09-03 16:24] alexbaden opened #365 "console not recognizing logged in user"
steps to reproduce:

- install ndstore on aws
- create superuser
- head on over to `<<aws instance url>>/nd/nduser/profile/`
- logging in works fine,  but once logged in the header doesn't seem to detect a user is logged in (see screenshot)

<img width="1454" alt="screen shot 2016-09-03 at 10 22 39 am" src="https://cloud.githubusercontent.com/assets/5845842/18226126/5d4fb678-71c0-11e6-9caa-31f48e8

[2016-09-03 16:53] alexbaden commented on #365
Reproduced locally. I'm looking into this now.

[2016-09-03 17:35] alexbaden opened #366 "datasets with spaces in names break the ui"
and probably other things.

[2016-09-03 19:55] alexbaden opened #367 "error on aws upload for clarity"
[code]

Trying to track this down... @kunallillaney any ideas?

[2016-09-03 20:06] alexbaden commented on #367
Full trace:
[code]

[2016-09-03 20:12] alexbaden commented on #350
https://github.com/neurodata/ndstore/issues/367

[2016-09-06 17:30] alexbaden opened #368 "catmaid interface on aws times out / doesn't load"
http://52.91.174.4/ocp/catmaid/kasthuri11/image/xy/1/0_1_7.png

[2016-09-06 17:42] kunallillaney commented on #368
You are using the incorrect IP:
http://52.91.173.4/nd/catmaid/kasthuri11/image/xy/5/0_0_1.png

There is another issue with this which was introduced by @randalburns. He and I need to talk to fix this.

[2016-09-06 17:43] #368 closed

[2016-09-06 17:44] kunallillaney commented on #366
We do allow special chars or spaces.

[2016-09-06 17:44] kunallillaney commented on #366
We will add this in checking in the next iteration.

[2016-09-06 19:50] kunallillaney commented on #367
This has now been resolved. You have the email with working links for data. IAM credentials are also sorted.

[2016-09-06 19:50] #367 closed

[2016-09-06 20:08] kunallillaney commented on #365
@Aeusman Merge these branches locally and confirm if I can merge your pull request.

[2016-09-06 21:43] #362 closed

[2016-09-07 05:01] #308 closed

[2016-09-07 05:03] #234 closed

[2016-09-08 15:13] #365 closed

[2016-09-08 15:14] kunallillaney commented on #348
@randalburns this is referenced as mdengine and not kvengine.

[2016-09-14 20:06] kkutten1 commented on #326
I want to change the resolution of the CLARITY datasets to their correct values.  For example I want to change the resolution of the Control258 dataset from 1 x 1 x 10 nm to its correct value of 585 x 585 x 5000 nm.  When click the "Update Dataset" button in the admin console I get the following warning

_WARNING Editing some fields may be dangerous!! Specifically, if you change the scaling option

[2016-09-17 15:40] alexbaden opened #371 "posting a create channel call with a project that does not have a token of the same name doesn't work"
steps to reproduce:

1. create a project with no default token
2. create a token with a different name
3. post a channel creation request using ndio to the project (by specifying the token, etc, e.g. `nd.create_channel(name=channel, token=token, channel_type='annotation', dtype='uint32', readonly=False)`)
4. channel will create in neurodjango, but the actual tables for the channel won't be created

[2016-09-17 16:43] #371 closed

[2016-09-17 16:46] alexbaden commented on #371
👍

[2016-09-18 17:47] alexbaden opened #372 "cubes that are all 0 appear to be stored in the db"
I was running the npz -> blosc conversion script and kept getting failures when trying to loop over the entire dataset.

After a bit of debugging, it appears that there are some cubes in the database that are all zeros...

I added a print statement for any cuboid that has `isNotZeros()` evaluate to false. It prints the x,y,z cube coordinates and the zindex.

[code]

I then checked the database for

[2016-09-18 18:00] alexbaden commented on #372
I can already se a problem with the above approach, I think. Converting the "0" cuboids is probably creating a lot of 0 cuboids...

Might be worthwhile to write a script that does a single pass search, finds any stored 0 cuboids, and deletes them from the DB. Happy to investigate if everyone else agrees.

[2016-09-19 16:26] alexbaden commented on #326
Yes.

Well, maybe. If you change the ratio between the xy resolution and the z resolution, you could break something. But it isn't permanent (unless you change the ratio then re-propagate).

So, go ahead and update the datasets for which you have access. If you don't have access to a particular dataset, let me know and I'll update it for you.

[2016-09-20 13:22] kkutten1 commented on #326
@alexbaden:  It won't let me make the changes.  When I tried I following error:

_Cannot update. You are not owner of this dataset or not superuser._

Could you change the resolution to  Control258 for me?  It should be 585 x 585 x 5000 nm.  This one is the most important since I'm using it as an example in a tutorial I'm writing.  If you have time could you also change the resolutions of the othe

[2016-09-23 13:49] alee156 opened #373 "Propagate connection refused error"
OSX operating system, Chrome/Safari browser

When I try to propagate Ailey's new brains by typing in the following url -
openconnecto.me/ocp/ca/my_token/my_channel/setPropagate/
(Token and Channel hidden since her brains are private)

I get a connection refused error - I'm almost 100% sure this is because I got the server name incorrect/I'm doing wrong but I'd really appreciate the help!

Thanks

[2016-09-27 14:37] kkutten1 commented on #294
Closing because I've ingested the data.  Thanks everyone for your help.

[2016-09-27 14:37] #294 closed

[2016-09-27 17:48] kunallillaney commented on #373
openconnecto.me/ocp/ca/my_token/my_channel/setPropagate/propagate-value

What is your propagate value?

[2016-09-27 19:02] kunallillaney commented on #315
@Aeusman What is the status of these? Let's wrap this soon so we can push these out.

[2016-09-29 00:19] kunallillaney commented on #373
@alee156 Is this resolved?

[2016-09-29 04:14] alee156 commented on #373
I get a page not found 404

[2016-09-29 04:45] kunallillaney commented on #373
@alee156 That is the HTTP response code and not what I am referring to. I think you are not using the RESTful correctly. Can you please mention the actual RESTful call you use to call this service because the one you mention is **incomplete**.

[2016-10-03 14:47] Aeusman commented on #373
@alee156 Were you able to propagate the images using a proper propagate-value?

[2016-10-05 15:54] alee156 commented on #373
Nope

[2016-10-11 21:33] kunallillaney commented on #373
@alee156 Use this:
openconnecto.me/ocp/ca/my_token/my_channel/setPropagate/1/

[2016-10-11 21:33] #373 closed

[2016-10-11 21:44] kunallillaney commented on #354
Added with resource service.

[2016-10-11 21:44] #354 closed

[2016-10-11 21:44] kunallillaney commented on #353
@randalburns I think this is done and node deployed.

[2016-10-11 21:44] #353 closed

[2016-10-12 00:10] kunallillaney commented on #329
@Aeusman Okay the redis thing is fixed. The issue where it cannot find the s3_backend comes from no AWS credentials in the settings_secret file. We need to encrypt data in travis. I am looking into this now.

[2016-10-31 17:42] vikramc1 opened #374 "Unable to ingest"
After copying & pasting the "putnifti.py" file to my working directory, I ran:
[code]
The resulting url was printed as: `http://52.91.173.4/nd/ca/FA_Maps/dti/nii/`

The resulting error was: `Failed http://52.91.173.4/nd/ocp/ca/FA_Maps/dti/nii/.  Exception HTTP Error 502: Bad Gateway.`

[2016-10-31 22:40] kunallillaney commented on #374
@vikramc1 @gkiar Use mri.neurodata.io. Let me know if there is an issue.

[2016-10-31 22:56] jovo commented on #374
:couple_holding_hands:!!!

On Mon, Oct 31, 2016 at 6:40 PM, Kunal Lillaney <notifications@github.com>
wrote:

--
the glass is all full:  half water, half air.
neurodata.io, jovo calendar
<https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York>

[2016-11-02 20:41] vikramc1 commented on #374
attempted to create a channel for my project on mri.neurodata.io and got the following error:

`Failed to create channel. (1049, "Unknown database 'kki2009'")`

[2016-11-03 15:27] vikramc1 commented on #374
Still having some issues ingesting.

Command I typed: `python putnifti.py 'mri.neurodata.io/nd' 'kki2009' 'dti' 'dti/KKI2009_113_1_DTI_aligned.nii.gz' `

First argument: `baseurl`
Second argument: `token`
Third argument: `channel`
Fourth argument: `filename`

(putnifti.py taken from [here](https://github.com/neurodata/ndstore/blob/master/examples/putnifti.py))

URL generated: `http://mri.neurodata

[2016-11-03 15:40] kunallillaney commented on #374
@vikramc1 Email me the file you are trying to post.

[2016-11-03 15:59] vikramc1 commented on #374
sent to you on slack

On Nov 3, 2016, at 11:40 AM, Kunal Lillaney <notifications@github.com<mailto:notifications@github.com>> wrote:

@vikramc1<https://github.com/vikramc1> Email me the file you are trying to post.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/neurodata/ndstore/issues/374#issuecomment-258180432>, or mute th

[2016-11-03 21:15] kunallillaney commented on #374
@vikramc1 Should be resolved now. Try again. It will take some time for it to finish. I would run it in a screen/tmux.

[2016-11-04 02:15] jovo commented on #374
thanks @kunallillaney

[2016-11-05 02:36] kunallillaney commented on #329
@Aeusman I think the celery issue is with 4.0. I have updated the version to be 3.1.23 which should work.

[2016-11-06 23:45] toekneesunshine opened #375 "imgUpload throwing "NameError: global name 'datasetSize' is not defined""
I'm trying to ingest a histogram equalized version of the CLARITY brain Aut1367 into ndstore.  Since the Aut1367 data already exists in ndstore, I downloaded the image and then applied our histogram equalization technique.  The technique outputs a numpy array, which I then convert into a simpleITK image (following the last steps in the ndreg tutorial, whereby they upload a simpleITK img: https://g

[2016-11-07 15:36] vikramc1 commented on #374
Tried: `python putnifti.py 'mri.neurodata.io/nd' 'kki2009' 'dti' 'dti/KKI2009_113_1_DTI_aligned.nii.gz'`
Web url generated: `http://mri.neurodata.io/nd/ca/kki2009/dti/nii/`
Error received: `Failed http://mri.neurodata.io/nd/ca/kki2009/dti/nii/.  Exception HTTP Error 504: Gateway Timeout.`

[2016-11-07 15:45] jovo commented on #374
@kunallillaney perhaps you can provide an example of this working?
@perlman @randburns

On Mon, Nov 7, 2016 at 10:37 AM, vikramc1 <notifications@github.com> wrote:

--
the glass is all full:  half water, half air.
neurodata.io, jovo calendar
<https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York>

[2016-11-07 15:47] kunallillaney commented on #374
@vikramc1 Just a sanity check. Are you actually typing single quotation marks in your command line arguments?

[2016-11-07 15:50] vikramc1 commented on #374
Yes I am

[2016-11-07 15:55] kunallillaney commented on #374
@vikramc1 Why are you doing that, because they are strings? When you pass command-line arguments to a python script you do not do that.

python putnifti.py mri.neurodata.io/nd kki2009 dti dti/KKI2009_113_1_DTI_aligned.nii.gz

Do ensure here that the path to the file is correct from the point where you run your script.

[2016-11-07 16:15] vikramc1 commented on #374
@kunallillaney I tried that and got the same error: `Failed http://mri.neurodata.io/nd/ca/kki2009/dti/nii/.  Exception HTTP Error 504: Gateway Timeout.`

[2016-11-07 16:41] kunallillaney commented on #374
@vikramc1 I messaged you on slack. Also, I posted the same file via my computer and it worked. So I am not sure what you are doing wrong(Maybe the file path is wrong). This can be easily verified in person. :)

[2016-11-07 18:56] kunallillaney commented on #374
@vikramc1 I have identified the issue but there is no easy fix for it as of now.
@randalburns @perlman The NGINX web-server is timing out after 10mins(we have set the UWSGI read timeout to 600secs) because the job takes longer then that. I can increase this number arbitrarily but that will lead to security issues.

[2016-11-07 18:59] kunallillaney commented on #375
@toekneesunshine I need more details. Which server are you running this on? Also, have you verified if this an ndio issue or not? I need the RESTful call this is making to debug this not the function you are calling in ndio.

[2016-11-09 01:59] jovo commented on #361
@alee156 are all of these ingested?

[2016-11-09 19:09] kunallillaney commented on #350
@jovo closing this.

[2016-11-09 19:09] #350 closed

[2016-11-09 19:22] jovo commented on #350
great!

On Wed, Nov 9, 2016 at 2:09 PM, Kunal Lillaney <notifications@github.com>
wrote:

--
the glass is all full:  half water, half air.
neurodata.io, jovo calendar
<https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York>

[2016-11-10 15:48] kunallillaney commented on #375
@toekneesunshine Any updates?
@jovo

[2016-11-11 02:40] kunallillaney commented on #374
@vikramc1 Were you able to get all the data in? The timeout fix can hopefully work in the short-term. Also let me know if you can view the data . I sent you a sample URL and XY doc link over slack.

[2016-11-13 21:18] kunallillaney commented on #326
@kkutten1 Hey I have updated the voxelres for all CLARITY datasets to 585,585,5000. Let me know if you have any questions on this.
@alexbaden AT data issue is still open and is tasked to you. @randalburns said to close this issue and you can move that to your weeklies.
@jovo

[2016-11-13 21:18] #326 closed

[2016-11-13 21:25] alexbaden commented on #326
Please move it for me or I will forgot.
On Sun, Nov 13, 2016 at 13:19 Kunal Lillaney <notifications@github.com>
wrote:

[2016-11-13 21:28] jovo opened #376 "correct voxel res for AT data"

[2016-11-13 21:28] jovo commented on #326
https://github.com/neurodata/ndstore/issues/376

[2016-11-13 23:03] Aeusman opened #377 "Add 64 Character limit to Json Schemas for data entry"
This is a result of #319 being re-prioritized as a backend check instead of a docs issue,

[2016-11-14 00:15] kkutten1 commented on #326
@kunallillaney: Some of the CLARITY brains have different resolutions.  For example Control181 is 585 x 585 x **8000** nm.  See https://github.com/neurodata/internal/blob/master/misc/CLARITY_tokens.md
Could you change those? Thanks

[2016-11-14 00:39] Aeusman commented on #315
why is #257 here?

[2016-11-14 00:46] kunallillaney commented on #326
@kkutten1 All done.

[2016-11-14 00:48] kunallillaney commented on #315
@Aeusman Just tell them that they can do this in NDViz and direct them to the docs there.

[2016-11-14 03:59] toekneesunshine commented on #375
@kunallillaney
The raw data is on a GoogleCloud instance.
After looking through the error message, it seems to more likely be a problem with one of the ndreg functions (specifically, this imgUpload function) -- I'll make an issue there instead.

[2016-11-14 23:26] kunallillaney commented on #375
Okay. Closing the issue then.
@jovo

[2016-11-14 23:26] #375 closed

[2016-11-16 19:56] alexbaden opened #378 "kasthuri11cc res0 and neariso missing"
Res0 table is empty

neariso tables missing for res4, 5, 6, 7

@randalburns

[2016-11-16 21:56] kunallillaney commented on #378
kat11cc never had res0 or neariso data. katthuri11cc only ran at base res1. Similarly, we only generated neariso tables for kasthuri11 not kasthuri11cc.

[2016-11-16 22:06] wrgr commented on #378
Res0 definitely exists.  Maybe needs to be re exported.

[2016-11-17 06:31] kunallillaney commented on #378
@wrgr res0 for kasthuri11 exists not for kasthuri11cc. If I remember correctly, Misha only ran the algorithm on res1 and we propagated it upwards. I went and rechecked the SQL backups we have for this data and there is no res0.
Similarly, @randalburns only generated neariso versions for kasthuri11 for Stephan and not on kasthuri11cc.

[2016-11-18 00:04] #325 closed

[2016-11-22 16:13] kkutten1 opened #379 "Can't create project based on Ailey datasets"
I'm trying to create a project from the admin console (http://console.neurodata.io/) based on Ailey's datasets.  But they're not listed in the dataset tab of the admin console.  Thus when I go to Project->Create Project the datasets aren't listed.

[2016-11-22 16:16] jovo commented on #379
@perlman @kunallillaney @randalburns what do you suggest?

[2016-11-22 16:18] kkutten1 commented on #379
FYI: I've posted the dataset names and tokens to the infrastructure slack

[2016-11-22 22:52] kunallillaney commented on #379
@kkutten1 The datasets were marked private when they were created via auto-ingest and thus not accessible to you. I have now marked the datasetss(not the tokens) as public and you should be able to create projects for those datasets. Let me know if you have any other issues.

[2016-11-22 23:00] jovo commented on #379
thanks @kunallillaney

On Tue, Nov 22, 2016 at 5:52 PM, Kunal Lillaney <notifications@github.com>
wrote:

--
the glass is all full:  half water, half air.
neurodata.io, jovo calendar
<https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York>

[2016-11-23 15:40] kkutten1 commented on #379
Thanks!

[2016-11-23 15:40] #379 closed

[2016-11-23 16:45] gkiar opened #380 "Programmatically creating channels in ndstore"
I am trying to programmatically create channels through the RESTful API. I have followed the documentation [here](http://docs.neurodata.io/ndstore/api/json_api.html#createchannel) in creating my url and json file. I have produced a [script](http://openconnecto.me/mrdata/share/ingest/brains/createchannel.py) (taking the structure of [putnifti.py](https://github.com/neurodata/ndstore/blob/master/exa

[2016-11-23 17:11] kunallillaney commented on #380
The script is [here](https://github.com/neurodata/ndstore/blob/microns/examples/createchannel.py).
Example usage: `python createchannel.py KKI2009_aligned kki2009 test image uint8`
This creates a channel name "test" of type "image" and datatype "uint8".

[2016-11-23 17:11] #380 closed

[2016-11-28 18:16] randalburns opened #381 "RESTful call to set window"
This is for kwame to set ranges on CLARITY brains.

[2016-11-28 18:21] kunallillaney commented on #381
@randalburns This is done in the resource interface. You can now update any parameter for any metadata(channel, project, token or dataset) using the resource interface.
Caveat: This only works in the current "microns" branch and is not fully documented.

[2016-11-28 18:22] kunallillaney commented on #381
TODO for me: Document the resource service.

[2016-11-28 18:31] kkutten1 opened #382 "Propagate appears to be frozen"
I initialized propagate a week ago on a  1140 x 800 x 1320 voxel channel using
[code]
But as of today the propagate still isn't finished. The following returns a value of "1"
[code]
@randalburns @kunallillaney @jovo

[2016-11-28 21:11] kunallillaney commented on #329
The issue identified is with running upstart jobs in docker images. Docker images don't like upstart jobs but can run systemd jobs in privileged mode. It is unclear whether travisCI and other free CI services will support this.
@Aeusman explore 2 options:
- Try to make uwsgi work with travis CI natively
- Explore Jenkins( Check if there is a free option out there which we do not have to deploy)

[2016-11-28 21:12] kunallillaney commented on #382
@kkutten1 It is fixed and here is the data at res1.
http://dsp029.pha.jhu.edu/ocp/ca/AutA_to_ara3/grayscale/xy/1/0,500/0,400/1/

[2016-11-28 21:12] #382 closed

[2016-11-29 03:45] jovo opened #383 "make some tutorials"
@gkiar this is for neurostorm & class.

[2016-11-29 23:30] alexbaden opened #384 "dynamically upsample image projects for projects with res > 0"
similar to annotation projections, but only on upsample (downsample would be too inefficient).

[2016-12-05 16:23] kkutten1 opened #385 "openconnecto.me is down"
As of 11:22 am EST http://openconnecto.me/ is down

[2016-12-05 16:49] kunallillaney commented on #385
@kkutten1 We were aware of the problem. The service is back up.

[2016-12-05 16:49] #385 closed

[2016-12-07 21:04] gkiar opened #386 "make account creation work"
I am trying to create an account on [cloud.neurodata.io/nd/accounts/login/](http://cloud.neurodata.io/nd/accounts/login/) and recieved the following confirmation email.

The link within this email did not activate my account and therefore I could not login and use your service.

(I know the administrator login, but the whole point is that an external user is currently not able to use the service w

[2016-12-07 21:07] gkiar commented on #386
I believe this should be a trivial amount of work, as when I replace `example.com` with `cloud.neurodata.io` I am able to activate my account successfully.

[2016-12-07 21:09] kunallillaney commented on #386
@gkiar cloud.neurodata.io is off-limits and is under beta. Please do not create accounts/tokens on it until I say so. You are free to read data off it but I cannot guarantee uptime or any tokens you create will be carried over.
Having said that, yes that is the issue and I think @Aeusman was working on registration last. I will co-ordinate with him and get this fixed.

[2016-12-07 21:16] gkiar opened #387 "cannot view datasets as new user"
I have a new account on the instance currently living at [cloud.neurodata.io/nd/](http://cloud.neurodata.io/nd/). However, when I try to "View Datasets," ([this url](http://cloud.neurodata.io/nd/nduser/datasets/)) I get an error, copied below. This error is not present when I am logged in as `neurodata`.

[code]

[2016-12-07 21:19] gkiar commented on #386
Thank you.

Where do you suggest I test, then? I am not storing any unique (or even large) datasets, but rather am trying to test our service as if I were an outside user.

[2016-12-07 21:20] gkiar commented on #386
I view what I am doing as "beta testing," so perhaps upon clarification of my goal this is the right instance for this, but please do let me know :)

[2016-12-07 21:26] kunallillaney commented on #386
@gkiar This is great. Just delete all datasets/projects/tokens you have created after you are done. Also, please don't upload any new data for now. You can beta-test the GUI which is what we need. Some other services aka propagate, stats don't run in the cloud yet.

[2016-12-07 22:23] kunallillaney commented on #386
@gkiar This is resolved now.

@Aeusman @randalburns django by default inserts example.com as the site name when it creates the project. One can modify this manually by using the sites-admin interface. The automated way to do this is to use migrations(django recommends this and not fixtures. django1.7> they moved away from having this as a parameter in the settings file) I wrote a migration in fixt

[2016-12-07 22:23] #386 closed

[2016-12-07 22:27] kunallillaney commented on #387
@randalburns @Aeusman  I think this is happening because you call for all public datasets for a non-root user. The UI excepts that to be a QuerySet and I think this got replaced in the ndprojects change. Do not have an easy long term fix for this, a short-term fix would be to fall back on the old method which fetches the queryset. I will investigate this later.

[2016-12-12 14:37] kkutten1 opened #388 "Propagate may be frozen for Tail projects"
I started propagate on both channels "ch0" and "ch1" more than 48 hours ago and both still have a propagate status of 1.  @kunallillaney: I've posted the project token in Slack

[2016-12-12 14:53] kkutten1 commented on #388
Interestingly lower resolutions appear to be available

http://openconnecto.me/ocp/ca/<TailToken>/ch0/xy/5/0,447/0,595/900/window/0,600/

Not sure why it's still reporting a status of "1"

[2016-12-13 14:59] kunallillaney commented on #388
@kkutten1 resolved. Closing issue.

[2016-12-13 14:59] #388 closed

[2016-12-14 19:19] kunallillaney opened #389 "Write a dev and prod config for microns branch + ndauth"

[2016-12-15 10:46] kunallillaney opened #390 "fix grapg-gen tests in microns branch"
All 4 tests fail because of 403 error. I think that this has something to do with the fact that we are not using tokens in tests.

[2016-12-15 10:48] kunallillaney opened #391 "Fix stats tests in microns branch"
2 of 6 tests pass. 4 tests fail mostly because of 403 error. Co-ordinate with @Aeusman to fix these.

[2016-12-15 10:48] kunallillaney commented on #391
@randalburns @perlman

[2016-12-15 10:49] kunallillaney commented on #389
@perlman this has now been largely fixed because of using sslsever in django. I still need to fix the CSRF bug.

[2016-12-15 11:43] kunallillaney commented on #389
This is now fixed with the correct SITE_ID. The only change required is to all the SSL certificate in the browser(django-ssl ships with a test certificate which our browsers do not recognize)

[2016-12-15 11:43] #389 closed

[2016-12-16 11:50] kunallillaney commented on #391
@alexbaden another issue is when the stats do fail it fails to clean up after itself, aka delete all the databases. tokens and so on affecting tests which occur after that.

[2016-12-16 16:05] kkutten1 opened #392 "Voxel Resolution for Tail datasets are in microns instead of nanometers"
I want to multiply the voxel resolution Tail datasets by 1000 so that they are in nanometers.  But I don't have access to them in the admin console. For consistency we should always enter the voxel resolution in  nanometers since that's what the admin console requests.  Like below
![screenshot1](https://cloud.githubusercontent.com/assets/9724840/21268663/a8d192a6-c37d-11e6-931d-70c6e975ff0e.png)

[2016-12-16 22:34] gkiar opened #393 "autoingest with existing datasets created via the console"
I created a dataset and project through the admin console, but would like to update my data via autoingest. However, despite all parameters being the same, I get an error that suggests they are not so my upload cannot be completed. If I change the dataset/project/token names, the ingest succeeds. I am using `ndio==v1.1.5`.

| item | link |
|:--- |:------|
|code documenting this process | [here](ht

[2016-12-17 00:52] kunallillaney commented on #392
Done.

[2016-12-17 00:52] #392 closed

[2016-12-17 00:55] kunallillaney commented on #315
@Aeusman Let's wrap the last few of these and close this issue.

[2016-12-17 00:57] kunallillaney commented on #393
@gkiar Can you please specify which branch is this? Or which server deployment are you working on?

[2016-12-17 04:11] gkiar commented on #393
Sorry, it is written within my code and info urls, so I didn't think to
specify it. I'm running this on openconnecto.me

[2016-12-17 06:22] kunallillaney commented on #393
Okay. Yes, this is the old autoingest process in which it creates all the project metadata(dataset, project, channel and token) for you. You need not use the project management console. If you did create the console and want to ingest more data then ensure that the channel you are ingesting is not already created. In your case, the error info might be misleading, but I think what has happened is t

[2016-12-17 06:25] kunallillaney commented on #393
An important point to note is that this process only works in the new branch and is antiquated. Nothing about this process is carried over into the new ingest process. Feel free to document this process but this is no longer active on cloud.neurodata.io. The new process utilizes config.json files which we briefly went over the other day and is based on [ingest-client](https://github.com/neurodata/

[2016-12-17 06:27] kunallillaney commented on #390
@Aeusman Fix the latest push to microns and open a pull request.

[2016-12-18 03:48] jovo commented on #393
thanks kunal.  the goal is to get @gkiar to be able to upload data to
datascopes until the cloud is ready.

On Sat, Dec 17, 2016 at 1:25 AM, Kunal Lillaney <notifications@github.com>
wrote:

--
the glass is all full:  half water, half air.
neurodata.io, jovo calendar
<https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York>
starting in 2017, i will be responding to

[2016-12-18 04:08] kunallillaney commented on #393
@jovo It think the DSP's are working with auto-ingest. @gkiar Can you try creating a new project for the same dataset. It does not work for you because the project versions are different.

[2016-12-18 04:10] jovo commented on #393
@kunal - agreed, i have no reason to think it is not currently working, we
just need to learn how :)

On Sat, Dec 17, 2016 at 11:08 PM, Kunal Lillaney <notifications@github.com>
wrote:

--
the glass is all full:  half water, half air.
neurodata.io, jovo calendar
<https://calendar.google.com/calendar/embed?src=joshuav%40gmail.com&ctz=America/New_York>
starting in 2017, i will be responding to email

[2016-12-18 04:25] gkiar commented on #393
@kunallillaney if you check the jupyter notebook I linked to in my initial post, I have updated it to try a new project and token in the same dataset, and get the same error - no new project is created.

[2016-12-18 05:16] kunallillaney commented on #393
Okay. I will look into it on Monday/Tuesday.

[2016-12-18 23:59] gkiar commented on #393
@kunallillaney thank you! I appreciate it :)

[2016-12-19 03:17] gkiar commented on #393
Note: The link above has been updated as the file has moved. Thanks!

[2016-12-19 16:15] kkutten1 opened #394 "Need to create projects based on new Ailey datasets"
@kunallillaney I'm trying to create a project from the admin console (http://console.neurodata.io/) based on the new Ailey datasets. But they appear to be private.  Could you make those datasets available like you did for issue #379

[2016-12-19 19:20] kunallillaney commented on #394
Done.

[2016-12-19 19:20] #394 closed

[2017-01-09 13:54] kkutten1 opened #396 "Can't connect to MySQL server on 'dsp061.pha.jhu.edu'"
I receive the following error
[code]
...when trying to download slice of image data

http://openconnecto.me/ocp/ca/[MyToken]/grayscale2/xy/0/0,100/0,100/15/

[2017-01-09 14:44] kunallillaney commented on #396
Done.

[2017-01-09 14:44] #396 closed

[2017-01-11 15:52] kkutten1 opened #397 "Need to restart propagate on Talia brain"
Propagate for one of the channels ("ch1") of [myToken] appears to have failed

http://openconnecto.me/ocp/ca/[myToken]/ch1/xz/1/3000,4000/7000/0,1000/window/0,600/

It's propagate status has been "1" for at least a week

http://openconnecto.me/ocp/ca/[myToken]/ch1/getPropagate/

I don't have the permissions to restart propagate.  When I try to set it to "0" so that I can restart propagation....

h

[2017-01-11 16:14] kkutten1 opened #398 "Propagation finishes sucessfully without setting status to "2""
Propagation for channel "ch0" of [myToken] appears to have been successful as all resolutions down to level 10 contain data

http://openconnecto.me/ocp/ca/[myToken]/ch0/xz/10/0,15/7/0,1000/window/0,600/

But the propagate status is still "1" and has been that way for at least a week

http://openconnecto.me/ocp/ca/[myToken]/ch0/getPropagate/

When I try to manually set it to "2" to indicate success

[2017-01-13 17:39] kunallillaney commented on #398
@kkutten1 This is resolved.

[2017-01-13 17:39] #398 closed

[2017-01-13 17:57] kunallillaney commented on #397
@kkutten1 I have restarted this.

[2017-01-14 16:37] kunallillaney commented on #397
Propagated.

[2017-01-14 16:37] #397 closed

[2017-01-27 00:17] randalburns opened #400 "make window compatible with int8/int16 channels"
Consult with GKiar about right behavior.

[2017-01-27 00:23] kunallillaney commented on #400
@randalburns I am still unsure how this will work because we anyways typecast all our uint16 data to uint8 for display purposes.

[2017-01-27 00:25] kunallillaney commented on #390
@Aeusman This is a TODO after statuspage.

[2017-01-27 00:26] kunallillaney commented on #329
This has now been fixed. @Aeusman Can you document what we did to fix this.

[2017-01-27 00:26] #329 closed

[2017-01-27 00:26] kunallillaney commented on #361
I think this is done.

[2017-01-27 00:26] #361 closed

[2017-01-27 00:27] kunallillaney commented on #301
I am closing this since ndio is now defunct for all practical purposes.

[2017-01-27 00:27] #301 closed

[2017-01-27 00:27] kunallillaney commented on #315
Done.

[2017-01-27 00:27] #315 closed

[2017-01-27 00:28] kunallillaney commented on #377
@Aeusman This is now superseded by ingest-client.

[2017-01-27 00:28] #377 closed

[2017-01-27 00:29] kunallillaney commented on #210
We are now using statuspage. @Aeusman close this issue when we have a prototype working.

[2017-01-27 18:28] kkutten1 opened #401 "dsp061.pha.jhu.edu is down"
@kunallillaney: dsp061.pha.jhu.edu is appears to be down. When trying to access an xy slice
[code]
The following error is returned
[code]

[2017-01-27 18:52] kunallillaney commented on #401
@kkutten1 There have been some hard-drive issues with DSP61 and we have lost all data on that drive. We did have backups for our important datasets but unfortunately not for that one. Was that Ailey's data?

[2017-01-27 18:56] kkutten1 commented on #401
No it's atlas data.  I have a backup on my hard drive so I can reingest it.

On 01/27/2017 01:52 PM, Kunal Lillaney wrote:

[2017-01-27 18:57] kunallillaney commented on #401
@kkutten1 Great. I will let you know when these issues are resolved and we are ready to start ingesting. Also, do you have a list of Ailey's data that we care about?

[2017-01-27 19:04] kkutten1 commented on #401
@kunallillaney: Will send you a list of tokens on slack

[2017-02-04 14:31] kunallillaney commented on #401
@kkutten1 I will close this since we discussed this issue

[2017-02-04 14:31] #401 closed

[2017-02-04 14:31] kunallillaney commented on #393
@gkiar This has been fixed when we have ailey running on the cloud. I will slack you the new node meant currently only for Ailey data.

[2017-02-04 14:31] #393 closed

[2017-02-04 15:38] gkiar commented on #393
Do we have any nodes that I can use for general ingest, or other people's
data? I have some imunoflouresence data and more EM data that I want to
ingest, as well.

--
Greg Kiar <gkiar07@gmail.com>

On Sat, Feb 4, 2017 at 9:31 AM, Kunal Lillaney <notifications@github.com>
wrote:

[2017-02-04 16:04] kunallillaney commented on #393
@gkiar Replied in slack. Let's take this offline.

[2017-02-04 16:06] kunallillaney commented on #345
this will be now supported in the new all 4D branch

[2017-02-04 16:06] #345 closed

[2017-02-13 21:03] randalburns opened #405 "Log overflow on MRI neurodata.io"
Big MRIs use more than 10% of redo log in a single write.  Need to commit in parts or batches.

[2017-02-13 21:04] randalburns opened #406 "Cleanup channel on failed MRI post"
in ndwsNifti service.

[2017-02-14 23:16] wrgr opened #407 "Missing annotation data?"
Seems like with the recent disk failure, several of the annotation data sets that were hosted on DSP061 are missing.  Can you help me confirm the current state of things and assess what is possible with recovery/existing backups?

Many thanks!

@kunallillaney @alexbaden @perlman @jovo @randalburns

[2017-02-15 03:49] kunallillaney commented on #407
There are the annotation projects from dsp61 for which we have backups:
ac3
ac4
kasthuri14anno
kasthuri14Maine
kasthuri14s1colANNO
kat11greencylinder
kat11mojocylinder
kat11redcylinder
kat11mito
kat11synapses
kat11segments
kat11vesicles
kat14psd
katss
kat11redcylinder
kat11mojocylinder
MP4merged
rhoana
collman15anno
collman15axons
collamn15dendrites
collman15dendrites
kristen-harris annotations

[2017-02-15 03:50] kunallillaney commented on #407
All other annotation data on DSP61 is unfortunately not recoverable. If you did take a backup or have local HDF5/tif files then we can re-ingest them.

[2017-02-15 03:51] #378 closed

[2017-02-15 03:53] kunallillaney opened #409 "User matrix to replace tokens"
Use the current authorization framework to create a user-access matrix for all the projects. This will eliminate the need for "tokens" and make the the schema simple.

[2017-02-15 03:53] kunallillaney commented on #360
#409 will deal with this.

[2017-02-15 03:53] #360 closed

[2017-02-15 03:54] kunallillaney commented on #381
Documented in the resource api.

[2017-02-15 03:54] #381 closed

[2017-02-15 03:54] #359 closed

[2017-02-15 04:06] wrgr commented on #407
Yikes - any chance of data forensics or other options?  @jovo?  If really lost a pretty big loss.  Can chat offline if better.  Want to confirm we are really out of options.  Didn't expect to lose these projects.

[2017-02-15 16:00] Aeusman commented on #409
To clarify this will eliminate the tokens used to identify Project, not the tokens that identify Users. Hopefully that will also eliminate some confusion regarding the schema.

[2017-02-15 18:54] kunallillaney commented on #409
Yes.

[2017-02-17 02:28] alexbaden opened #410 "make neariso generation a default part of propagate"
Per our conversation earlier -- the people like the neariso interface. We should generate those tables during propagate. (paraphrased from @randalburns)

The issue we're having right now is if the neariso table doesn't exist, the call to get data with the neariso interface in ndviz/neuroglancer fails. As a quick fix, we could exclude neariso from projinfo unless those tables exist, explicitly.

[2017-02-17 22:51] kunallillaney opened #411 "ndstore/statuspage_config"
@Aeusman I have now created statuspage_config. Let's move everything here and populate the README in that folder for setup instructions(TODO in there for you)

[2017-02-20 16:44] kunallillaney commented on #210
Look at #411

[2017-02-20 16:44] #210 closed

[2017-02-20 18:44] randalburns opened #414 "add neariso argument to getCube/putCube s3io and redis"

[2017-02-20 18:44] randalburns opened #415 "ndstack creates neariso volumes (mysql + testing)"

[2017-02-20 19:00] randalburns commented on #407
Question has been answered.  I'll communicate with Will offline.

[2017-02-20 19:00] #407 closed

[2017-02-20 20:46] kunallillaney commented on #411
TODO for us is to also add a cron job on this.

[2017-02-20 20:46] kunallillaney commented on #410
See #415

[2017-02-20 20:46] #410 closed

[2017-02-22 18:20] kunallillaney commented on #126
I think this was done.

[2017-02-22 18:21] kunallillaney commented on #175
This has now been done.

[2017-02-22 18:21] #175 closed

[2017-02-22 18:27] #219 closed

[2017-02-22 18:36] Aeusman commented on #90
Closing in favor of #409 - This is part of the enhancement to create user/group owned projects

[2017-02-22 18:36] #90 closed

[2017-02-22 18:37] Aeusman opened #417 "Defunct Issues?"
#129
#219
#174
#130
#131
#150
#82 - Should be closed or moved to ndio
#127
#107
#91 - Solved largely by ndingest?

[2017-02-22 20:16] alexbaden commented on #126
As far as I know, we only have DOIs for the Harris and Warner datasets.

On Wed, Feb 22, 2017 at 13:20 Kunal Lillaney <notifications@github.com>
wrote:

[2017-02-24 20:09] alexbaden opened #419 "neariso table existence in projinfo"
If neariso tables do not exist, don't add `neariso_imagesize` (or other neariso keys) to projinfo.

[2017-02-27 21:08] Aeusman opened #421 "Authentication On Empty Token"
Authentication may not be handling this case properly when the header for auth is passed, but no token is.

[2017-03-02 00:34] kunallillaney opened #423 "Better error message on missing channel"
@perlman

[2017-03-03 16:11] randalburns opened #424 "Max project in time"
Figure out requirements (EP)
Implement (RB)

[2017-03-04 03:20] kunallillaney opened #426 "origin anchor tag to be able to overlay data in different modalties"

[2017-03-06 19:36] Aeusman opened #429 "Default authentication class for sessions and tokens"

[2017-03-06 19:41] Aeusman opened #430 "Authentication Tests"
[On Hold] - Pending a decision about how we want to deal with the new setup script in 16.

[2017-03-06 19:42] Aeusman opened #431 "CodeDeploy in Travis"

[2017-03-10 15:12] kunallillaney opened #433 "Django activation email does get sent out on AWS"
D

[2017-03-10 15:17] kunallillaney commented on #430
@Aeusman Here is what I recommend:
We should create multiple modes of the same test. One mode runs all these tests as they are on public projects(which is the case now) and have a second mode which runs against all private projects with a pre-created token(as you had earlier). Let's create a token on install (only when installing on travis) and go thorough mode1 and mode2. We can set this mode via

[2017-03-10 15:18] kunallillaney commented on #431
@Aeusman Here we will need to work together since this relies on deployment groups in AWS. Let's tests this on your dev instances for now and then move it to our production servers.

[2017-03-10 15:18] kunallillaney commented on #429
@Aeusman I thought this was pushed and merged. Is that correct?

[2017-03-10 19:33] Aeusman commented on #429
This is fixed in #432

[2017-03-10 19:39] #429 closed

[2017-03-10 19:40] Aeusman commented on #430
Sounds reasonable to me. I'll implement this probably inside test_settings.

[2017-03-10 19:42] Aeusman commented on #433
I think this issue should be renamed, the email is sent out but is re-directed to the spam folder most of the time by JHU and other more aggressive anti-spam filters. As such, the issue should be "Get Email Server Certificate and Set Up Email Domain Forwarding".

[2017-03-11 01:37] kunallillaney commented on #430
I don't think test_settings will work since we want to run both tests. Let's discuss this offline.

[2017-03-13 17:35] randalburns opened #434 "nii 3x8bit int into RGB image service deploy on mri.neurodata.io"
Example files at /brainstore/MR/fa_pngs/

[2017-03-13 17:53] randalburns opened #435 "neariso in info query"
Only show neariso when scalingoption==ZSCALING and PROPAGATED==True

[2017-03-13 18:23] randalburns commented on #435
no neariso for ISOTROPIC.  @alexbaden there are always neariso tables if scalingoption==ZSLICES and propagate==2

[2017-03-13 18:26] #435 closed

[2017-03-13 18:27] randalburns commented on #419
Resolved in #435

[2017-03-13 18:27] #419 closed

[2017-03-13 18:29] randalburns commented on #415
This has been moved to kunal.  It works on mysql and is fixed in ndstack.  Kunal you can fix for REDIS/S3.

[2017-03-13 21:31] kunallillaney commented on #421
@Aeusman I think this is now resolved?

[2017-03-13 21:31] kunallillaney commented on #411
Cron job added.

[2017-03-13 21:31] #411 closed

[2017-03-13 21:32] kunallillaney commented on #400
@randalburns this is now done.

[2017-03-13 21:32] #400 closed

[2017-03-13 21:33] kunallillaney commented on #390
@perlman @randalburns Do we care about this service or should be deprecate this? AFAIK no one has used it.

[2017-03-14 16:58] Aeusman commented on #421
This is resolved follow creation of custom TokenAuth Class

[2017-03-14 16:58] #421 closed

[2017-03-16 17:45] Aeusman opened #436 "Documentation Updates"
- [ ] One time authentication token.
- [ ] Email going to spam after registration.

[2017-03-27 17:00] kunallillaney opened #438 "4D raw compressed cubes in S3"
- Currently cuboids 3D, non-compatible with new 4D format
- Need to be converted from blosc-packed to raw compressed

[2017-03-27 17:22] gkiar opened #439 "niftii service: SWU4 and MRN114 broadcast array shapes"

[2017-04-03 18:38] randalburns opened #441 "xycutout doesn't work 16bit signed?"

[2017-04-06 15:55] perlman opened #442 "neariso propagation can result in a 0-deep layer"
Neariso propagation can result in a tier having a 0-depth voxel size which is silly.  Should not go below 1.

<details>
<summary>neariso_imagesize values</summary>
"neariso_imagesize": {
            "0": [
                407040,
                202240,
                128
            ],
            "1": [
                203520,
                101120,
                128
            ],

[2017-04-10 19:59] #434 closed

[2017-04-11 13:55] randalburns commented on #439
@gkiar I'm not positive what this is.  I am closing b/c I can ingest SWU4 and MRN114.  Let me know when you have new data from updated pipeline versions.

[2017-04-11 13:55] #439 closed

[2017-04-11 14:19] gkiar commented on #439
@randalburns, I think you asked me to open it last meeting when we chatted
about mricloud.

Also, all new data is processed and available at http://m2g.io

--
Greg Kiar <gkiar07@gmail.com>

On Tue, Apr 11, 2017 at 9:55 AM, Randal Burns <notifications@github.com>
wrote:

[2017-04-24 13:01] kkutten1 opened #443 "ndstore services on dev.neurodata.io are down"
Visiting https://dev.neurodata.io/nd/ocp/accounts/login/ or https://dev.neurodata.io/nd/sd/public_tokens/ yields an "Internal Server Error"

[2017-04-24 13:23] perlman commented on #443
django failed to start if it can't write to /var/log/neurodata.log as www-data.

[2017-04-24 13:23] #443 closed

[2017-04-27 17:45] kkutten1 opened #445 "Can not crerate channels of type "image" from dev.neurodata.io admin console"
@perlman, @kunallillaney

Steps to reproduce...

Log into dev.neurodata.io admin console
* "Projects"->"View Projects"
 * For project "myToken", click "channels" which will take you to the "CHANNELS" list page
 * Click "Add Channel", enter name "test_channel" for "Channel Name" and select "Images (16-bit unsigned)" for "Channel Type"
 * Click "Create Channel" and this will take you back to the "CH

[2017-04-27 18:04] kkutten1 commented on #445
OK so some tokens e.g. (token, channel)=("ara3", "average") now have a channel type of "timeseries" although they were created as type "image"

[2017-04-28 12:50] perlman commented on #445
All channels are now timeseries.  What was image data are now timeseries of 1.

@kunallillaney and I tried to migrate all of the old data on dev.neurodata.io.  If things are not working, the easiest path will probably be to create a new project.

[2017-04-28 13:07] kkutten1 commented on #445
Maybe we should close this since this is a feature (not a bug).  I've reuploaded the ARA

[2017-04-28 13:13] #445 closed

[2017-04-28 13:22] kkutten1 opened #446 "Propagage not working on dev.neurodata.io"
@perlman @kunallillaney
OK so I've ran propagate on (token, channel) = ("ara3", "average") hence and [getPropagate returns 2](https://dev.neurodata.io/nd/sd/ara3/average/getPropagate/).  But the data appears to have not been propagated.  Here's the central [xy slice at resolution 0](https://dev.neurodata.io/nd/sd/ara3/average/xy/0/0,1140/0,800/660/).  The data is missing in the central [xy size at